.footer {
    background-color: #222;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li a {
    margin: 0 1em;
    color: white;
}

.social_list li a:hover {
    color: #ffbb33;
}

.social_list svg {
    font-size: 1.5em;
}

.copy {
    margin-top: 2em;
}
.copy span {
    font-weight: bold;
    color: #ffbb33;
}