.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: white;
    text-decoration: none;
    transition: font-size .2s;
    font-weight: bold;
}

.item a:hover {
    color: #FFBB33;
    font-size: 1.2em;
}